header {
    background-color: #fac27d;
}

.footer {
    background-color: #fac27d;
    color: seagreen;
    padding: 2em 0;
    margin-top: auto;
    text-align: center;
}

.zoom {
    animation: zoom 2s;
}

@keyframes zoom {
    from {
        opacity: 0;
        transform: scale(3);
    }
}

.input-error {
    background-color: red;
    color: white;
}

.item-list {
    background: rgba(255, 255, 255, .9);
}

.item-list .item {
    margin-top: 10px;
    border-bottom: 1px solid rgb(218, 218, 218);
    padding: 10px;
}

.img-wrap {
    overflow: hidden;
    position: relative;
}

.cover1,
.cover2,
.cover3 {
    animation: cover 2s cubic-bezier(.4, 0, .2, 1) forwards;
    background: #fff;
    height: calc(100%/3);
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    z-index: 1;
}

.cover1 {
    top: 0;
}

.cover2 {
    animation-delay: .2s;
    top: calc(100%/3);
}

.cover3 {
    animation-delay: .4s;
    top: calc(100%/3*2);
}

@keyframes cover {
    100% {
        transform: translateX(100%);
    }
}

.slide-in{
    animation: SlideIn 1.6s;
}

@keyframes SlideIn {
    0% {
        opacity: 0;
        transform: translateX(64px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#input_plural {
    margin: 10px 0;
}

#input_plural input.form-control {
    display: inline-block;
    width: 75%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
}

.menu-name {
    color: #555;
}

.stitch {
    padding: 0.5em;
    margin: 1em auto;
    width: 100%;
    color: rgb(88, 68, 48);
    background: #fac27d;
    box-shadow: 0px 0px 0px 10px #fac27d;
    border: 2px dashed #fff;
}

.side-line h3 {
    margin: 0;
}

.side-border {
    padding: 0.5em 1em;
    border-left: solid 10px #fac27d;
}

/* 開くボタン */
.button-open {
    display: block;
    margin-left: auto;
    padding: 0.5em;
    background-color: #fff;
    color: #493311;
    border-radius: 20rem;
    cursor: pointer;
    min-width: 20%;
    max-width: 40%;
}

.button-open:hover {
    display: block;
    margin-left: auto;
    padding: 0.5em;
    background-color: #fdca7d;
    color: #493311;
    border-radius: 20rem;
    min-width: 20%;
    max-width: 40%;
}
  /* モーダルウィンドウ */
.modal-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 500px;
    background-color: #dfdddd;
    border-radius: 5px;
    z-index: 11;
    padding: 2rem;
}

  /* 登録ボタン */
.button-register {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    padding: 0.5em;
    background-color: #fff;
    color: #493311;
    border-radius: 20rem;
    cursor: pointer;
}

.button-register:hover {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    padding: 0.5em;
    background-color: #fac27d;
    color: #493311;
    border-radius: 20rem;
}

  /* 閉じるボタン */
.button-close {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    padding: 0.5em;
    background-color: #fff;
    color: #493311;
    border-radius: 20rem;
    cursor: pointer;
}

.button-close:hover {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    padding: 0.5em;
    background-color: #fac27d;
    color: #493311;
    border-radius: 20rem;
}

  /* オーバーレイ */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
}

/* お気に入り登録 */
.favorite-button {
    border-radius: 5%;
    border: solid 1px #493311;
    background-color: #fcfcfc;
    color: #493311;
}

.favorite-button:hover {
    border-radius: 5%;
    border: solid 1px #493311;
    background-color: #fac27d;
    color: #493311;
}

.favorited-button {
    border-radius: 5%;
    border: solid 1px #493311;
    background-color: #fac27d;
    color: #493311;
}

.favorited-button:hover {
    border-radius: 5%;
    border: solid 1px #493311;
    background-color: #fcfcfc;
    color: #493311;
}

/* カテゴリ一覧 */
.category-list {
    background: #fcfcfc;
    box-shadow: 0px 0px 0px 5px #f7d494; /*線の外側*/
    border: dashed 2px rgb(187, 157, 117); /*破線*/
    border-radius: 9px;
    padding: 0.5em;
}

.category-item {
    line-height: 1.5;
    padding: 0.5em 0;
}

.category-name {
    color: #555;;
    display: block;
    width: 100%;
}

.category-name:hover {
    color: rgb(122, 122, 122);;
}

/* Media Queries 769px以上 デスクトップ用*/
@media screen and (min-width:769px){
    .pc {

    }

    .sp {
        display: none;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

}

/* Media Queries 768px以下 スマホ用*/
@media screen and (max-width:768px){
    .pc {
        display: none;
    }

    .sp {

    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

}
